@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Orders.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Order_Managment_System.Default.OrdersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>