@model Order_Managment_System.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your Order_Managment_System password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on Order_Managment_System.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "Order_Managment_System" Team
</body>
</html>